.header {
    height: 5rem;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.8rem);
    z-index: 1;
}

.navbar {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: none;
    font: var(--button);
    color: var(--white);
    text-transform: uppercase;
    list-style: none;
    gap: 2.5rem;
}

.header__menu a {
    font: var(--button);
    color: var(--white);
}


.header__li--purple a{
    color: var(--purple);
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .navbar {
        max-inline-size: 1132px;
    }

    .header__menu {
        display: flex;
    }
}
/* Media Queries */