.hero__img {
    width: 100%;
    margin: 1rem 0;
    display: block;
}

.hero__description {
    font: var(--body1);
    color: var(--purple);
}

.hero__greeting {
    margin-bottom: 1rem;
    font: var(--headLine5);
    color: var(--purple)
}

.hero__name {
    font: var(--headLine3);
}

.hero__info {
    margin-bottom: 1rem;
}

.hero__social {
    margin-bottom: 2.5rem;
    display: flex;
    gap: 1rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }

    .hero__img {
        margin: 0;
        text-align: end;
    }

    .hero__name {
        font: var(--headLine2)
    }
}
/* Media Queries */